<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTV.Properties.Settings.QLThuVien3ConnectionString"
            connectionString="Data Source=LAPTOP-P6OOUC4L\MYHANH;Initial Catalog=QLTV;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTV.Properties.Settings.QLTVConnectionString" connectionString="Data Source=LAPTOP-P6OOUC4L\MYHANH;Initial Catalog=QLTV;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTV.Properties.Settings.QLTVIENConnectionString"
            connectionString="Data Source=LAPTOP-P6OOUC4L\MYHANH;Initial Catalog=QLTVIEN;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTV.Properties.Settings.QLTVConnectionString1" connectionString="Data Source=DESKTOP-5ODD5RJ;Initial Catalog=QLTV;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTV.Properties.Settings.QLTVConnectionString2" connectionString="Data Source=LAPTOP-P6OOUC4L\MYHANH;Initial Catalog=QLTV;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTV.Properties.Settings.QLTVConnectionString3" connectionString="Data Source=NGUYENCHUONG\SQLEXPRESS;Initial Catalog=QLTV;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>